---
import Footer from "@components/Footer.astro";
import Nav from "@components/Nav.astro";
import SpeedInsights from "@vercel/speed-insights/astro";

// import { ViewTransitions } from "astro:transitions";
import { ClientRouter } from "astro:transitions";
import { AstroFont } from "astro-font";

import "@styles/base.css";
import { getImage } from "astro:assets";
import statueFPMs from "@images/statue-fpms.jpg";

interface Props {
  title: string;
}

const { title: page } = Astro.props;

const title = `${page === "Accueil" ? "" : `${page} | `}Fédé FPMs`;
const description =
  "La Fédération des étudiants FPMs aussi appelée la Fédé, a comme rôle de représenter les étudiants de la Polytech de Mons dans le contexte académique et folklorique";
const image = await getImage({ src: statueFPMs, quality: 50 });

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
  .toString()
  .replace(/\/$/, "");
---

<!doctype html>
<html lang="fr-BE" class="scroll-p-24 scroll-smooth lg:scroll-p-[8.5rem]">
  <head>
    <!-- <meta charset="utf-8" /> -->
    <meta content="utf-8" http-equiv="encoding" />
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta
      name="title"
      content="Site de la Fédération des étudiants de la Faculté polytechnique de Mons (F.P.Ms)"
    />
    <meta
      name="description"
      content="Bienvenue sur le site de la Fédération des étudiants FPMs ! Aussi appelée la Fédé, elle a comme rôle de représenter les étudiants de la Polytech de Mons dans le contexte académique et folklorique"
    />
    <meta name="author" content="Commission Web FPMs" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={canonicalURL} />
    <title>{title}</title>
    <meta name="og:title" content={title} />
    <meta name="og:description" content={description} />
    <meta name="og:type" content="website" />
    <meta name="og:locale" content="be_FR" />
    <meta name="og:url" content={canonicalURL} />
    {
      page === "Accueil" ? (
        <>
          <meta
            name="og:image"
            content={canonicalURL.toString().slice(0, -1) + image.src}
          />
          <meta
            name="og:image:alt"
            content="Statue de la Faculté Polytechnique de Mons"
          />
        </>
      ) : (
        ""
      )
    }
    <meta name="og:site_name" content="Fédé FPMs" />
    <!-- <ViewTransitions /> -->
    <ClientRouter />
    <!-- <style>
      @view-transition {
        navigation: auto; /* enabled! */
      }
    </style> -->
    <link rel="sitemap" href="/sitemap-index.xml" />
    <SpeedInsights />
    <AstroFont
      config={[
        {
          src: [],
          name: "Poppins",
          // Google Fonts URL
          googleFontsURL:
            "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap",
          preload: true,
          display: "swap",
          selector: "body",
          fallback: "sans-serif",
        },
      ]}
    />
  </head>
  <body class="antialiased" transition:animate="fade">
    <Nav />
    <div>
      <slot />
    </div>
    <Footer />
  </body>
</html>